@import button-mixin

/*
  Buttons
  =======
*/

/*
 TopCoat Button
 --------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-button">Button</a>
    <a class="topcoat-button is-active">Button</a>
    <a class="topcoat-button is-disabled">Button</a>
*/

.topcoat-button {
    button-base()
    padding: var-padding;
    margin: var-margin;
    font-size: var-font-size;
    line-height: var-line-height;
    letter-spacing: var-letter-spacing;
    color: var-color;
    text-shadow: var-text-shadow;
    vertical-align: var-vertical-align;
    background-color: var-background-color;
    box-shadow: var-box-shadow;
    border: var-border;
    border-radius: var-border-radius;
}

.topcoat-button:active,
.topcoat-button.is-active {
    background-color: var-background-color--down;
    box-shadow: var-box-shadow--down;
}

.topcoat-button:disabled,
.topcoat-button.is-disabled {
    disabled()
}

/*
 TopCoat Quiet Button
 -------------------

 :active - Quiet button active state

 .is-active - Simulates active state for a quiet button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--quiet">Button</a>
    <a class="topcoat-button--quiet is-active">Button</a>
    <a class="topcoat-button--quiet is-disabled">Button</a>
*/

.topcoat-button--quiet {
    button-base()
    button-base--quiet()
}

.topcoat-button--quiet:active,
.topcoat-button--quiet.is-active {
    color: var-color;
    text-shadow: var-text-shadow;
    background-color: var-background-color--down;
    border: var-border;
    box-shadow: var-box-shadow--down;
}

.topcoat-button--quiet:disabled,
.topcoat-button--quiet.is-disabled {
   disabled()
}

/*
 TopCoat Large Button
 --------------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large" >Button</a>
    <a class="topcoat-button--large is-active" >Button</a>
    <a class="topcoat-button--large is-disabled" >Button</a>
*/

.topcoat-button--large {
    @extend .topcoat-button
    font-size: var-font-size--large;
    line-height: var-line-height--large;
}

/*
 1.2 TopCoat Large Quiet Button
 -----------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet" >Button</a>
    <a class="topcoat-button--large--quiet is-active" >Button</a>
    <a class="topcoat-button--large--quiet is-disabled" >Button</a>
*/

.topcoat-button--large--quiet {
    @extend .topcoat-button--large
    @extend .topcoat-button--quiet
}

/*
 1.3 TopCoat Call To Action Button
 -----------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--cta" >Button</a>
    <a class="topcoat-button--cta is-active" >Button</a>
    <a class="topcoat-button--cta is-disabled" >Button</a>

*/

.topcoat-button--cta {
    @extend .topcoat-button
    border: var-border--cta;
    background-color: var-background-color--cta;
    box-shadow: var-box-shadow--cta;
    color: var-color--cta;
    font-weight: var-font-weight--cta;
    text-shadow: var-text-shadow--cta;
}

.topcoat-button--cta:active,
.topcoat-button--cta.is_active {
    background-color: var-background-color--cta--down;
    box-shadow: var-box-shadow--cta--down;
}

/*
 1.4 TopCoat Quiet Call To Action Button
 ---------------------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--quiet--cta" >Button</a>
    <a class="topcoat-button--quiet--cta is-active" >Button</a>
    <a class="topcoat-button--quiet--cta is-disabled" >Button</a>
*/

.topcoat-button--quiet--cta {
    @extend .topcoat-button--cta
    @extend .topcoat-button--quiet
}

/*
 1.5 TopCoat Large Quiet Call To Action Button
 -----------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet--cta" >Button</a>
    <a class="topcoat-button--large--quiet--cta is-active" >Button</a>
    <a class="topcoat-button--large--quiet--cta is-disabled" >Button</a>
*/

.topcoat-button--large--quiet--cta {
    @extend .topcoat-button--large
    @extend .topcoat-button--quiet
    @extend .topcoat-button--cta
}
