// 1.0 TopCoat Button
//
//
// :active - Button hover state
// .is-pressed - Button down state
//
// Examples:
//
//    <button class="topcoat-button">Button</button>
//    <a href="#" class="topcoat-button" role="button">Button</a>
// :active
//    <button class="topcoat-button is-pressed">Button</button>
//    <a href="#" class="topcoat-button is-pressed" role="button">Button</a>

.topcoat-button
    @extend .button
    height 48px
    padding 0 20px
    margin 5px 5px
    font-size var-font-size
    line-height var-line-height
    letter-spacing var-letter-spacing
    color var-color
    text-shadow var-text-shadow
    vertical-align var-vertical-align
    background-color var-background-color
    border var-border
    border-radius 6px

    &:active,
      .is-pressed
        background-color var-background-color-down
        box-shadow var-box-shadow-down

// 1.1 TopCoat Quiet Button
//
//
// :active - Quiet button hover state
// .is-pressed - Quiet button down state
//
// Examples:
//
//    <button class="topcoat-button--quiet">Button</button>
//    <a href="#" class="topcoat-button--quiet" role="button">Button</a>
// :active
//    <button class="topcoat-button--quiet is-pressed">Button</button>
//    <a href="#" class="topcoat-button--quiet is-pressed" role="button">Button</a>

.topcoat-button--quiet
    @extend .button--quiet

    &:active,
      .is-pressed
        color var-color
        text-shadow var-text-shadow
        background-color var-background-color
        border var-border
        box-shadow var-box-shadow-down

