var-color = #c6c8c8
var-text-shadow = 0 -1px rgba(0, 0, 0, 0.69)
var-background-color = #595b5b
var-background-color-down = #595b5b
var-border = 1px solid rgba(0, 0, 0, 0.36)
var-box-shadow = inset 0 1px rgba(255, 255, 255, 0.12)
var-box-shadow-down = inset 0 1px rgba(0, 0, 0, 0.18)
