/* ==========================================================================
   Buttons
   ========================================================================== */

// 1.0 TopCoat Button
//
//
// :active - Button hover state
//
// Examples:
//
//    <a href="#" class="topcoat-button" role="button">Button</a>
//    <a href="#" class="topcoat-button down" role="button">Button</a>


.topcoat-button
    @extend .button
    height 48px
    padding 0 20px
    margin 5px 5px
    font-size var-font-size
    line-height var-line-height
    letter-spacing var-letter-spacing
    color var-color
    text-shadow var-text-shadow
    vertical-align var-vertical-align
    background-color var-background-color
    border var-border
    border-radius 6px

    &:active,
      .down
        background-color var-background-color--down
        box-shadow var-box-shadow--down

// 1.1 TopCoat Quiet Button
//
//
// :active - Quiet button hover state
//
// Examples:
//
//    <a href="#" class="topcoat-button" role="button">Button</a>
//    <a href="#" class="topcoat-button down" role="button">Button</a>

.topcoat-button--quiet
    @extend .button--quiet

    &:active,
      .down
        color var-color
        text-shadow var-text-shadow
        background-color var-background-color
        border var-border
        box-shadow var-box-shadow--down

// 1.2 TopCoat Large Button
//
//
// :active - Large button hover state
//
// Examples:
//
//    <a href="#" class="topcoat-button--large" role="button">Button</a>
//    <a href="#" class="topcoat-button--large down" role="button">Button</a>

.topcoat-button--large
    @extend .button--large
    height: var-height--large
    font-size: var-font-size--large
    line-height: var-line-height--large

