/* Base font size */
var-font-size = 16px
var-font-weight = 200
var-font-size--large = 1.3rem
var-font-weight--large = 400
var-border-radius = 6px
var-padding = 0 1.25rem
/* Height and line height need to be the same for vertical alignment */
var-height = 3rem
var-line-height = var-height
var-height--large = 4rem
var-line-height--large = var-height--large
/* TODO: remove vertical align handle in skin */
var-vertical-align = top
var-letter-spacing = 1px
/* Icon Button */
var-size--icon = var-height / 2
var-size--icon--large = var-height--large * 0.625
var-padding--icon-button = 0 var-height / 4
/* Navigation bar */
var-padding--navigation-bar = 1rem
/* List */
var-padding--list-header = 4px 20px
var-padding--list-item = 1.25rem
var-font-size--list-header = .9em
var-font-weight--list-header = 400
