light = #fff
light-blue = #e0f0fa
light-border = 1px solid #9b9d9d
light-border-focus = 1px solid #093ffd
light-border-glow = 0 0 0 2px #6fb5f1
light-button-divider = 1px solid #9b9d9d
light-down = #d3d7d7
light-down-shadow = inset 0 1px 0px rgba(0,0,0,.12)
light-gradient-start = #e5e9e9
light-gradient-end = #e5e9e9
light-gradient-highlight = inset 0 1px 0 #fff
light-hover-gradient-start = #edf1f1
light-hover-gradient-end = #edf1f1
light-hud-shadow = 0 3px 9px rgba(0,0,0,.3)
light-link-color = #0083e8
light-link-glow = 0 0 0 2px #6fb5f1
light-text = #454545
light-text-shadow = 0 1px 0 #fff
light-track-background = #d3d7d7
light-track-border = 1px solid #9b9d9d

var-color = #454545
var-text-shadow = 0 1px #fff
var-background-color = #e5e9e8
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
/* Call To Action */
var-background-color--cta--down = #0380e8
var-box-shadow--cta--down =  inset 0 1px rgba(0, 0, 0, 0.12)

