var-background-color = #e5e9e8
var-backgorund-color--body = #DFE2E2
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-text-shadow = 0 1px #fff
/* Call To Action */
var-background-color--cta--down = #0380e8
/* Icons */
var-menu-stack-icon = url("../img/hamburger_dark.svg");
/* Navigation Bar */
var-color--navigation-bar = #000
var-box-shadow--navigation-bar = inset 0 -1 #b9bcbc, 0 1px rgba(0,0,0,0.95)
/* Text Input */
var-color--placeholder = #C6C8C8
var-color--focus = #000
var-background-color--focus = #ffffff
