var-border-radius = 6px
var-padding = 0 20px
var-margin = 5px 10px 5px 0
var-font-size--large = 1.3rem
var-line-height = 3rem
var-line-height--large = 4rem
var-vertical-align = top
var-font-size = 16px
var-letter-spacing = 1px
/* TODO: Research necessity of this */
var-text-indent = 100%
/* Icon button */
var-padding--icon = 0
var-width--icon = 24px
var-height--icon = 24px
/* TODO: see if we can refactor to one rem based margin for all buttons  */
var-margin--icon = 7px -3px
var-background-size--icon = cover
var-width--large--icon = 40px
var-height--large--icon = 40px

