var-background-color = #595b5b
var-background--body = rgb(58, 63, 66) url("../img/bg_dark.png") repeat-x
var-background-color--down = #404141
var-border = 1px solid rgba(0, 0, 0, 0.36)
var-box-shadow = inset 0 1px rgba(255, 255, 255, 0.12)
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.18)
var-color = #c6c8c8
var-text-shadow =  0 -1px rgba(0, 0, 0, 0.69)
/* Call To Action */
var-background-color--cta--down = #1976c3
/* Icons */
var-menu-stack-icon = url("../img/hamburger_light.svg");
var-search-icon = url("../img/search_light.svg")
/* Navigation Bar */
var-color--navigation-bar = #fff
var-box-shadow--navigation-bar = inset 0 -1px #333434, 0 1px rgba(0,0,0,0.15);
/* Text Input */
var-color--placeholder = #C6C8C8
var-color--focus = #000
var-background-color--focus = #ffffff
/* Search Input */
var-background-image--search-input = var-search-icon
// See if we still need this variable
var-background-color--input = #424546
/* List */
var-background-color--list = rgb(68, 72, 73)
var-border-top--list-container = 1px solid rgb(47, 50, 52)
var-border-top--list = 1px solid rgb(47, 50, 52)
var-border-bottom--list = 1px solid rgb(239, 241, 241)
var-border-top--list-item--first = 1px solid rgba(0, 0, 0, 0.05)
var-border-top--list-item = 1px solid rgb(94, 96, 97)
var-border-bottom--list-item = 1px solid rgb(47, 50, 52)
var-color--list-header = rgb(134, 136, 136)
var-text-shadow--list-header = 0 -1px 0 rgba(0, 0, 0, 0.3)
var-border-top--list-header = solid 1px rgba(255, 255, 255, 0.1)
var-border-bottom--list-header = solid 1px rgba(255, 255, 255, 0.05)
var-background-color--list-header = rgb(59, 62, 64)
/* Checkbox */
var-checkbox-checked = url("../img/checkbox_checked_dark.png");
var-checkbox-unchecked = url("../img/checkbox_unchecked_dark.png")
/*Overlay*/
var-modal-bg-color = #595b5b
var-overlay__header-border = 1px solid rgba(0, 0, 0, 0.18)
/*
	Progress bar
*/
var-bar-bg-color 		= var-modal-bg-color
var-progress-bg-color	   = #54c1ff
