var-font-size = 12px
var-font-weight = 200
var-font-size--large = 1.167rem // 14px
var-font-weight--large = 400
var-letter-spacing = 1px
var-border-radius = 3px
var-border-radius--large = 15px
var-border-radius--huge = 25px
var-padding = 0 1.16rem
var-height = 2rem // 23px
var-height--large = 2.6rem
var-line-height = var-height
var-line-height--large = var-height--large
var-vertical-align = top

/* Icon Button */
var-size--icon = var-height / 2
var-size--icon--large = var-height--large * 0.625
var-padding--icon-button = 0 var-height / 4

/* Navigation bar */
var-padding--navigation-bar = 1rem

/* List */
var-padding--list-header = 0.3rem 1.6rem
var-padding--list-item = 1.16rem
var-font-size--list-header = .9em
var-font-weight--list-header = 400

/* Search Input */
var-search-icon = url("../img/search.svg")
var-background-image--search-input = var-search-icon

/* Topcoat icon large */
var-size--icon--large = 1.3rem /* otherwise the icon is off-center */